<include file="Common:header"/>
<div class="h-404 clearfix">
    <div class="h-main h-404-box">
        <p class="p1-404">您找的页面从地球失踪了，<br/>估计是飞到火星躲避雾霾去了！</p>
        <p class="p2-404">您可以点击返回<a href="/" class="white">网站首页>></a></p>
    </div>
</div>

<!-- 底部开始 -->
<style>
    .clearfix { *zoom: 1;}
    .clearfix:before,.clearfix:after {display: table;line-height: 0;content: "";}
    .clearfix:after {clear: both;}
    .h-404{width:100%;height:749px;background:url(/Public/images/404bg.jpg) no-repeat center center; margin: 20px 0px}
    .h-404-box{color:#fff;text-align:center;margin-top:282px;}
    .p1-404{font-size:30px;line-height:42px;margin-bottom:30px;}
    .p2-404{font-size:16px;line-height:38px;}
    .p2-404 a{display:inline-block;width:136px;background:#b31c27;border-radius:3px;color:#fff;margin-left:15px;}
    .p2-404 a:hover{background:#9d1620}
</style>
<!-- 底部开始 -->
<include file="Common:footer"/>